.projects {
    margin: 0 40px;
    padding: 10px 100px;
    background-color: #faedcd;
}

.project-text {
    text-align: center;
}

.project-item {
    padding: 20px 20px;
    background-color: #a2d2ff;
    border: 10px solid #457b9d;
    border-radius: 500px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project-image {
    width: 300px;
    height: 200px;
    border-radius: 20%;
}